/* general */
body {
  background: #FFFFEE;
  color: #800000;
}

hr {
  border: 0;
  height: 1px;
  color: #800000;
  background-color: #800000;
	background-image: linear-gradient(to left, rgba(255,255,238,1), rgba(128,0,0,0.75), rgba(255,255,238,1));
}

a {
  color: #0000EE;
}

a:hover {
  color: #DD0000;
}

/* footer */

/* board */
div.mode {
  background: #E04000;
  color: #FFFFFF;
}

/* post */
div.post.reply div.reply {
  background: #F0E0D6;
}

span.post-subject {
  color: #CC1105;
}

span.post-name {
  color: #117743;
}

div.post-message span.quote {
  color: #789922;
}

div.post-message span.truncated {
  color: #707070;
}

/* postform */
div.postform-group label {
  background: #EEAA88;
  font-weight: bolder;
}

/* menubar */

/* dropdown menu */
a.dd-menu-btn {
  color: #800000;
}

a.dd-menu-btn:hover {
  color: #DD0000;
}

div.dd-menu ul {
  background: #F0E0D6;
  border: 1px solid;
  border-right-width: 2px;
}

div.dd-menu li {
  border-bottom: 1px solid;
}

div.dd-menu li:hover {
  background: #FFFFEE;
}

/* post preview */
div.post-preview {
  border: 1px solid;
}

div.post-preview > div.post {
  background: #FFFFEE;
}

a > div.post-preview {
  color: #800000;
}

/* highlights (posts, etc) */
.highlight {
  border: 2px dashed;
}
