/* general */
body {
  font-family: arial,helvetica,sans-serif;
  font-size: 13px;
  background: #272822 linear-gradient(to bottom, #1a1a1a 0, #272822 128px) no-repeat 0 0 local;
  color: #F8F8F2;
}

hr {
  border: none;
  border-top: 1px solid #36372f;
  height: 0;
}

a {
  color: #66D9EF;
}

a:hover {
  color: #F92672;
}

/* footer */

/* board */
div.mode {
  background: #36372f;
  color: #FFFFFF;
}

/* post */
div.post.reply div.reply {
  background: #36372f;
  border: 1px solid #1a1a1a;
  border-left: none;
  border-top: none;
}

span.post-board {
  color: #66D9EF;
}

span.post-subject {
  color: #F92672;
}

span.post-name {
  color: #AE81FF;
}

span.post-trip {
  color: #AE81FF;
}

div.post-message span.quote {
  color: #A6E22E;
}

div.post-message .spoiler {
  text-shadow: 0 0 10px #F8F8F2;
}

div.post-message-wrapper span.truncated {
  color: #707070;
}

div.post-message-wrapper span.omitted {
  color: #707070;
}

span.post-catalog-subject {
  color: #F92672;
}

span.cap-admin {
  color: #66D9EF;
}

span.cap-mod {
  color: #F8F8F2;
}

span.post-id a {
  color: inherit;
}

span.post-id a:hover {
  color: #F92672;
}

div.post-info .backreference {
  font-size: x-small;
}

/* menubar */

/* dropdown menu */
a.dd-menu-btn {
  color: #F8F8F2;
}

a.dd-menu-btn:hover {
  color: #F92672;
}

div.dd-menu ul {
  background: #36372f;
  border: 1px solid #1a1a1a;
  border-right-width: 2px;
}

div.dd-menu li {
  border-bottom: 1px solid #1a1a1a;
}

div.dd-menu li:hover {
  background: #1a1a1a;
}

/* post preview */
div.post-preview > div.post {
  background: #272822;
  border-top: 1px solid #1a1a1a !important;
  border-left: 1px solid #1a1a1a !important;
  border-bottom: 2px solid #1a1a1a;
  border-right: 2px solid #1a1a1a;
}

a > div.post-preview {
  color: #F8F8F2;
}

/* highlights (posts, etc) */
.highlight {
  border: 2px dashed #1a1a1a !important;
}

/* forms */
.form input[type="text"], input[type="password"], textarea {
  color: #F8F8F2;
  background: #36372f;
  border: 1px solid #75715E;
}

.form-label {
  background: #75715E;
  border: 1px solid #1a1a1a;
  padding: 0 5px;
}
