@media only screen and (max-width: 767px) {
  html {
    text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  body {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: unset;
  }

  .post-dash {
    display: none;
  }

  .file-thumb {
    margin-right: 0px !important;
  }

  .file-thumb:has([expanded="true"]) {
    float: none;
  }

  .file-thumb-img {
    max-width: 125px;
    max-height: 125px;
    object-fit: scale-down;
    margin-right: 12px !important;
  }

  .post-container,.post {
    width: 100%;
  }

  .reply-container, .post.reply {
    display: inline-block;
  }

  .post.reply {
    border-left: none !important;
    border-right: none !important;
  }
  
  .box-content {
    overflow-x: auto;
  }

  .post-message-wrapper {
    margin-left: 12px !important;
    margin-right: 12px !important;
    overflow-x: auto;
  }

  .post-message {
    -ms-word-break: break-all;
    -ms-word-wrap: break-all;
    -webkit-word-break: break-word;
    -webkit-word-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  .post-message pre {
    max-width: calc(100vw - 50px);
  }

  .fixed-window {
    left: 50vw !important;
    top: 50vh !important;
    right: auto !important;
    bottom: auto !important;
    transform: translate(-50%, -50%);
    min-width: calc(100vw - 32px);
    max-width: calc(100vw - 16px);
    max-height: calc(100vh - 16px);
    overflow: auto;
  }

  #quickreplywindow {
    top: auto !important;
    bottom: 0 !important;
    transform: translateX(-50%);
  }

  #quickreplywindow.snap-top {
    top: 0 !important;
    bottom: auto !important;
  }

  .menubar-detached ~ #quickreplywindow.snap-top {
    top: 20px !important;
  }

  .ban-preview-popup {
    top: 50vh !important;
    left: 50vw !important;
    right: auto !important;
    transform: translate(-50%, -50%);
    min-width: calc(100vw - 32px);
    max-width: calc(100vw - 16px);
    max-height: calc(100vh - 16px);
    overflow: auto;
  }

  div.post-preview {
    left: 50vw !important;
    right: auto !important;
    transform: translateX(-50%);
    min-width: calc(100vw - 32px);
    max-width: calc(100vw - 16px);
  }

  .ref-hash {
    margin-left: 4px;
  }
}
