/* general */
body {
  font-family: arial,helvetica,sans-serif;
  font-size: 13px;
  background: #ffe linear-gradient(to bottom, #fed6af 0, #ffe 128px) no-repeat 0 0 local;
  color: #800000;
}

hr {
  border: none;
  border-top: 1px solid #d9bfb7;
  height: 0;
}

a {
  color: #800000;
}

a:hover {
  color: #ff0000;
}

/* root/general */
.page-root a {
  text-decoration: none;
}

.box-title {
  background: #fca;
  font-weight: bold;
}

.box-content {
  background: #ffffff;
}

.nsfw {
  color: #FF0000;
  font-weight: bold;
}

/* footer */

/* board */
div.mode {
  background: #E04000;
  color: #FFFFFF;
}

/* post */
.post.reply {
  background: #f0e0d6;
  border: 1px solid #d9bfb7;
  border-left: none;
  border-top: none;
}

span.post-board {
  color: #000080;
}

span.post-subject {
  color: #cc1105;
}

span.post-name {
  color: #117743;
}

span.post-trip {
  color: #117743;
}

div.post-message span.quote {
  color: #789922;
}

div.post-message .spoiler {
  text-shadow: 0 0 10px #000000;
}

.post-message .banned {
  color: #FF0000;
}

.truncated {
  color: #707070;
}

.omitted {
  color: #707070;
}

span.post-catalog-board {
  color: #000080;
}

span.post-catalog-name {
  color: #117743;
}

span.post-catalog-subject {
  color: #cc1105;
}

span.cap-admin {
  color: #FF0000;
}

span.cap-mod {
  color: #8800EE;
}

a.reference {
  color: #000080;
}

a.reference:hover {
  color: #FF0000;
}

a.backreference {
  color: #000080;
}

a.backreference:hover {
  color: #FF0000;
}

div.post-info .backreference {
  font-size: x-small;
}

div.post-info .backreference * {
  font-size: 13px;
}

div.file-info a {
  color: #00e;
}

div.file-info a:hover {
  color: #FF0000;
}

a.post-reply-link {
  color: #00e;
}

a.post-reply-link:hover {
  color: #FF0000;
}

/* menubar */
.menubar-detached {
  border-bottom: 1px solid #d9bfb7;
}

/* dropdown menu */
a.dd-menu-btn {
  color: #000080;
}

a.dd-menu-btn:hover {
  color: #FF0000;
}

div.dd-menu ul {
  background: #f0e0d6;
  border: 1px solid #d9bfb7;
  border-right-width: 2px;
}

div.dd-menu li {
  border-bottom: 1px solid #d9bfb7;
}

div.dd-menu li:hover {
  background: #ffe;
}

/* post preview */
div.post-preview > .post.op {
  background: #ffe;
}

div.post-preview > .post {
  border-bottom: 2px solid #d9bfb7;
  border-right: 2px solid #d9bfb7;
}

a > div.post-preview {
  color: #800000;
}

/* highlights (posts, etc) */
.highlight {
  border: 2px dashed #d9bfb7 !important;
}

/* forms */
.form-label {
  background: #ea8;
  font-weight: 700;
  border: 1px solid #800;
  padding: 0 5px;
}

/* manage */
.form-manage table, .form-manage th, .form-manage td {
  border: 1px solid #d9bfb7;
}

/* gallery component */
.gallery-item:hover {
  border: 1px solid #800000;
}
