/* general */
body {
  font-family: arial,helvetica,sans-serif;
  font-size: 13px;
  background: #eef2ff linear-gradient(to bottom, #d1d5ee 0, #eef2ff 128px) no-repeat 0 0 local;
  color: #000;
}

hr {
  border: none;
  border-top: 1px solid #b7c5d9;
  height: 0;
}

a {
  color: #34345c;
}

a:hover {
  color: #ff0000;
}

/* header */
div.header {
  color: #af0a0f;
}

/* footer */

/* board */
div.mode {
  background: #E04000;
  color: #FFFFFF;
}

/* post */
div.post.reply div.reply {
  background: #d6daf0;
  border: 1px solid #b7c5d9;
  border-left: none;
  border-top: none;
}

span.post-board {
  color: #000080;
}

span.post-subject {
  color: #0f0c5d;
}

span.post-name {
  color: #117743;
}

span.post-trip {
  color: #117743;
}

div.post-message span.quote {
  color: #789922;
}

div.post-message .spoiler {
  text-shadow: 0 0 10px #000000;
}

div.post-message-wrapper span.truncated {
  color: #707070;
}

div.post-message-wrapper span.omitted {
  color: #707070;
}

span.post-catalog-subject {
  color: #0f0c5d;
}

span.cap-admin {
  color: #FF0000;
}

span.cap-mod {
  color: #8800EE;
}

a.reference {
  color: #d00;
}

a.reference:hover {
  color: #FF0000;
}

a.backreference {
  color: #34345C;
}

a.backreference:hover {
  color: #FF0000;
}

div.post-info .backreference {
  font-size: x-small;
}

div.post-info .backreference * {
  font-size: 13px;
}

div.file-info a {
  color: #34345c;
}

div.file-info a:hover {
  color: #FF0000;
}

a.post-reply-link {
  color: #34345c;
}

a.post-reply-link:hover {
  color: #FF0000;
}

/* menubar */

/* dropdown menu */
a.dd-menu-btn {
  color: #34345c;
}

a.dd-menu-btn:hover {
  color: #FF0000;
}

div.dd-menu ul {
  background: #d6daf0;
  border: 1px solid #b7c5d9;
  border-right-width: 2px;
}

div.dd-menu li {
  border-bottom: 1px solid #b7c5d9;
}

div.dd-menu li:hover {
  background: #eef2ff;
}

/* post preview */
div.post-preview > div.post {
  background: #eef2ff;
  border-bottom: 2px solid #b7c5d9;
  border-right: 2px solid #b7c5d9;
}

a > div.post-preview {
  color: #000;
}

/* highlights (posts, etc) */
.highlight {
  border: 2px dashed #b7c5d9 !important;
}

/* forms */
.form-label {
  background: #98e;
  font-weight: 700;
  border: 1px solid #000;
  padding: 0 5px;
}
