apiVersion: v1
kind: Pod
metadata:
  name: pod-miniboard-migrate
spec: # spec for pod
  containers:
  - name: miniboard-migrate
    image: ghcr.io/anonyymi/miniboard/app:latest
    imagePullPolicy: Always
    args: ["php", "src/cli.php", "migrate"]
    resources:
      requests:
        cpu: 250m
        memory: 128Mi
      limits:
        memory: 256Mi
    env:
    - name: MB_TIMEZONE
      value: Europe/Helsinki
    - name: MB_DB_HOST
      value: miniboard-mariadb
    - name: MB_DB_NAME
      value: miniboard_db
    - name: MB_DB_USER
      valueFrom:
        secretKeyRef:
          name: miniboard-mariadb-user
          key: USER
    - name: MB_DB_PASS
      valueFrom:
        secretKeyRef:
          name: miniboard-mariadb-user
          key: PASSWORD
  restartPolicy: OnFailure
