<!DOCTYPE html>
<html>

<head>
  {% include "common/meta.html" %}
  {% include "common/styles.html" %}
  <title>{{ site_name }} - {{ site_desc }}</title>
</head>

<body>
  <div class="menubar">
    <div class="boardmenu">
      [<a href="/manage/">Manage</a>]
      {% include "common/stylepicker.html" %}
    </div>
  </div>
  {% include "common/header.html" %}
  <div class="page-root container-centered" style="margin-top: 32px">
    <div class="box-container">
      <div class="box">
        <div class="box-title">Boards</div>
        <div class="box-content">
          <table>
            <tr style="display: none">
              <th>col1</th>
              <th>col2</th>
              <th>col3</th>
              <th>col4</th>
            </tr>
            <tr>
              {% for board in boards %}
                <td><a href="{{ board }}">{{ board }}</a></td>
                {% if loop.index % 4 == 0 %}
                  </tr><tr>
                {% endif %}
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="box-container">
      <div class="box">
        <div class="box-title">Stats</div>
        <div class="box-content">
          <table>
            <tr style="display: none">
              <th>col1</th>
              <th>col2</th>
              <th>col3</th>
            </tr>
            <tr>
              <td><strong>Total Posts: </strong>{{ stats.total_posts }}</td>
              <td><strong>Current Posts: </strong>{{ stats.current_posts }}</td>
              <td><strong>Unique Posters: </strong>{{ stats.unique_posters }}</td>
            </tr>
            <tr>
              <td><strong>Imported Posts: </strong>{{ stats.imported_posts }}</td>
              <td><strong>Current Files: </strong>{{ stats.current_files }}</td>
              <td><strong>Active Content: </strong>{{ stats.active_content | filesizeformat }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="box-container">
      <div class="box">
        <div class="box-title">Rules</div>
        <div class="box-content">
          <strong>Forbidden on all boards</strong>
          <ol>
            {% for rule in rules %}
              <li>{{ rule }}</li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="container-centered">
    {% include "common/footer.html" %}
  </div>

  {% include "common/scripts.html" %}
</body>

</html>